In [2]:
a = "hello"

b = 98

val = ["rrrrr", "26", "444 road, nagar", "delhi"]

print(val)
print(val[0])

['rrrrr', '26', '444 road, nagar', 'delhi']
rrrrr

In [ ]:
#Basis Data strucutures

#Heterogenous DS

#list

[1,2,3,4,5,"jjj",10.88,True]
indexing or ordering possible 
Concatenation is possible
Mutable

#tuple

(4,5,6,7,10,"hello")
indexing or ordering possible 
Concatenation is possible
immutable



#Set

{4,5,6,7,10,"hello"}
indexing or ordering not possible 
Concatenation is not possible
Mutable



#Dictionary {key:value}

{1:"hello", 2:"pi", "welcome":"python"}
indexing or ordering not possible (key = index)
Concatenation is not possible
Mutable

## List Methods

In [3]:
#Character

#elements within []

a = [1,2,3,4,"tttt", True, False]

print(a)
print(type(a))

[1, 2, 3, 4, 'tttt', True, False]
<class 'list'>

In [ ]:
#Heterogenous DS

#Multiple datatyoes in single Ds

In [5]:
#Ordered or Indexing possible

a = [1,2,3,4,"tttt", True, False]

print(a)
print(a[-1])
print(a[0])

[1, 2, 3, 4, 'tttt', True, False]
False
1

In [7]:
#How to create a list

a = []

print(a)
print(type(a))

b = list()
print(b)
print(type(b))

[]
<class 'list'>
[]
<class 'list'>

In [8]:
#Append

Li = [4,5,6,7,3]

Li.append(10)

print(Li)

Li.append("python")

print(Li)

[4, 5, 6, 7, 3, 10]
[4, 5, 6, 7, 3, 10, 'python']

In [9]:
#insert

Li = [4,5,6,7,3]

Li.insert(2,"google") #(index, value)

print(Li)

[4, 5, 'google', 6, 7, 3]

In [11]:
#remove

Li = [4,5,6,7,3]

Li.remove(7)

print(Li)

Li = [4,5,6,7,3,7]

Li.remove(7)

print(Li)

[4, 5, 6, 3]
[4, 5, 6, 3, 7]

In [14]:
#pop



#pop type1

Li = [4,5,6,7,3]

Li.pop() #-1 as default

print(Li)

#pop type2

Li = [4,5,6,7,3]

Li.pop(2) #arg: index number

print(Li)

[4, 5, 6, 7]
[4, 5, 7, 3]

In [17]:
#concatenation

a = [3,4,5,6,2]
b = ["hhh", "tttt", 10,20,30]

c = a+b
print(c)

[3, 4, 5, 6, 2, 'hhh', 'tttt', 10, 20, 30]

In [16]:
#extend

a = [3,4,5,6,2]
b = ["hhh", "tttt", 10,20,30]

a.extend(b)

print(a)

[3, 4, 5, 6, 2, 'hhh', 'tttt', 10, 20, 30]

In [21]:
#index

a = [3,4,5,6,2]

print(a.index(2))

print(a.index(0))

4

ValueError: 0 is not in list

In [22]:
#sum/min/max/len

a = [3,4,5,6,7,10,12]

print(sum(a))
print(min(a))

print(len(a))
print(max(a))

47
3
7
12

In [23]:
#sort/reverse

a = [3,4,5,6,7,10,12,-1,-3,1,3,4]

a.sort() #ascending order

print(a)

[-3, -1, 1, 3, 3, 4, 4, 5, 6, 7, 10, 12]

In [24]:
a = [3,4,5,6,7,10,12,-1,-3,1,3,4]

a.sort(reverse=True) #descending order

print(a)

[12, 10, 7, 6, 5, 4, 4, 3, 3, 1, -1, -3]

In [25]:
a = [3,4,5,6,7,10,12,-1,-3,1,3,4]

a.reverse()
print(a)

[4, 3, 1, -3, -1, 12, 10, 7, 6, 5, 4, 3]

In [26]:
#clear

a = [4,5,6,7,8]

a.clear()
print(a)

[]

In [29]:
#del

#Type1 #For removing multiple elements

a = [4,5,6,7,8]

del a[2:]
print(a)

#Type2

del a

print(a)

[4, 5]

NameError: name 'a' is not defined

In [31]:
#Count

a = [3,3,4,5,6,7,8,9,4,4,3,2]

print(a.count(3))
print(a.count(0))

3
0

In [34]:
#assignment or replacement

a = [1,2,3,4,5,0,1,2,1,0,-1]


a[0] = 100 #Assignment

print(a)

[100, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]

In [35]:
#copy

#Shallow copy and deep copy

#Shallow copy

a = [1,2,3,4,5,0,1,2,1,0,-1]

b = a

print(b)
print(a)
print(id(a))
print(id(b))
a[0] = 100 #Assignment
print(b)
print(a)

[1, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]
[1, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]
2178564194696
2178564194696
[100, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]
[100, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]

In [36]:
#Deep copy

a = [1,2,3,4,5,0,1,2,1,0,-1]

b = a.copy()

print(b)
print(a)
print(id(a))
print(id(b))
a[0] = 100 #Assignment
print(b)
print(a)

[1, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]
[1, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]
2178564188488
2178562645000
[1, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]
[100, 2, 3, 4, 5, 0, 1, 2, 1, 0, -1]

In [ ]:
https://www.w3schools.com/python/python_lists_methods.asp
    
https://www.w3schools.com/python/python_lists.asp

## Tuple methods

In [ ]:
#Characteristics of tuple

#Equalent of List

#Immutable

#Ordering and indexing possible
#()

#Advantage of tuple over list:

#Less memory
#Faster than list
#Secure purpose

In [1]:
#How to create Tuple

b = ()
print(b)
print(type(b))

()
<class 'tuple'>

In [2]:
b = tuple()
print(b)
print(type(b))

()
<class 'tuple'>

In [3]:
#Ordering/Indexing possible

a = (1,3,4,-1,-4,10)

print(a[-3])

-1

In [5]:
a = [1,3,4,-1,-4,10]

a[-1] = 100

print(a)

[1, 3, 4, -1, -4, 100]

In [4]:
#Immutable

a = (1,3,4,-1,-4,10)

a[-1] = 100

print(a)

TypeError: 'tuple' object does not support item assignment

In [6]:
a = (1,2,3)
b = (10,12,13)

print(a+b)

(1, 2, 3, 10, 12, 13)

In [7]:
#Trick

a = (10)

print(a)
print(type(a))

10
<class 'int'>

In [8]:
a = [10]

print(a)
print(type(a))

[10]
<class 'list'>

In [9]:
a = (10,)

print(a)
print(type(a))

(10,)
<class 'tuple'>

In [10]:
a = 10,20

print(a)
print(type(a))

#Tuple is default

(10, 20)
<class 'tuple'>

In [11]:
#index

a = (3,4,5,2,1)

print(a.index(3))

0

In [13]:
#count


a = (3,4,5,2,1,10,10)

print(a.count(3))
print(a.count(10))

1
2

## Set methods

In [14]:
#{}

a = {1,2,3,-1}

print(a)
print(type(a))

{1, 2, 3, -1}
<class 'set'>

In [17]:
#Heterogenous

#No ordering or no indexing 

a = {1,2,3,-1}

print(a[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#+ operation or concatenation is not possible

In [ ]:
#How to create empty set 

a = set()

print(a)
print(type(a))

In [23]:
#Set assignment not posible

a = {3,4,5,6}

a[0] = 10

print(a)

TypeError: 'set' object does not support item assignment

In [24]:
#Duplicates not allowed

a = {10,20,2,2,3,4,4,4,4,1,1,1,1}

print(a)

{1, 2, 3, 4, 10, 20}

In [25]:
#add

a = {10,20,2,2,3,4,4,4,4,1,1,1,1}

a.add("python")

print(a)

{1, 2, 3, 4, 10, 20, 'python'}

In [26]:
#update

a = {10,20,2,2,3,4,4,4,4,1,1,1,1}

b = {2,3,4,5,12,100}
a.update(b)

print(a)

{1, 2, 3, 4, 5, 100, 10, 12, 20}

In [28]:
#remove

a = {4,5,6,7,1}

a.remove(1)
print(a)
a.remove(0)
print(a)

{4, 5, 6, 7}

KeyError: 0

In [31]:
#discard
a = {4,5,6,7,1}


a.discard(1)
print(a)
a.discard(0)
print(a)

{4, 5, 6, 7}
{4, 5, 6, 7}

In [33]:
#pop #random element removal

a = {4,5,6,7,1}

a.pop()

print(a)

{4, 5, 6, 7}

In [34]:
#clear


a = {4,5,6,7,1}

a.clear()

print(a)

set()

In [35]:
#copy

a = {4,5,6,7,1}

b = a.copy()

print(b)

{1, 4, 5, 6, 7}

In [36]:
#del
a = {4,5,6,7,1}

del a

print(a)

NameError: name 'a' is not defined

In [37]:
#min/max/sum/len

a = {4,5,6,7,1}

print(len(a))
print(min(a))
print(max(a))
print(sum(a))

5
1
7
23

In [38]:
#Union

a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

c = a.union(b)

print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
#intersection



a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

c = a.intersection(b)

print(c)

{5, 7}

In [42]:
#intersection update

a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

a.intersection_update(b)

print(a)

{5, 7}

In [43]:
#difference

a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

c = a.difference(b)

print(c)

{1, 2, 3, 4}

In [44]:
#difference update


a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

a.difference_update(b)

print(a)

{1, 2, 3, 4}

In [48]:
#symmetric difference

a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

c = a.symmetric_difference(b)

print(c)

{1, 2, 3, 4, 6, 8, 9, 10}

In [47]:
#symmetric difference update

a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}

a.symmetric_difference_update(b)

print(a)

{1, 2, 3, 4, 6, 8, 9, 10}

In [51]:
#issuperset / issubset

a = {1,2,3,4,5}
b = {3,4,5}
c = {5,6,7}

print(a.issuperset(b))
print(a.issuperset(c))
print(b.issuperset(c))


print(b.issubset(a))

True
False
False
True

In [53]:
#isdisjoint

a = {3,4,5,2,1,7}
b = {5,6,7,8,9,10}
c = {10,12}

print(a.isdisjoint(b))
print(c.isdisjoint(b))
print(a.isdisjoint(c))

False
False
True

## Dictionary methods

In [16]:
#{:}

a = {"val1":1,"val2":2,"val3":3,10:-1}

print(a)
print(type(a))

#Key:

#int
#Float
#String
#bool

#Value:
#int float bool string list dict tuple sert

{'val1': 1, 'val2': 2, 'val3': 3, 10: -1}
<class 'dict'>

In [21]:
#Heterogenous

#No ordering or indexing

a = {"val1":1,"val2":2,"val3":3,10:-1}

#print(a[0])

#Index ==> key

print(a[10])
print(a["val3"])
print(a["val5"])

-1
3

KeyError: 'val5'

In [ ]:
#concatenation is not possible

In [22]:
a = {}

print(a)
print(type(a))

a = dict()

print(a)
print(type(a))

{}
<class 'dict'>
{}
<class 'dict'>

In [54]:
a = {1: 10, 2:"python", "hi":30, 30:50, 100:35}

print(a)
print(type(a))

{1: 10, 2: 'python', 'hi': 30, 30: 50, 100: 35}
<class 'dict'>

In [55]:
#how to add / replace 

a = {1: 10, 2:"python", "hi":30, 30:50, 100:35}

a[1] = 100 #replace

print(a)

a[5] = 1000 #adding new value

print(a)

{1: 100, 2: 'python', 'hi': 30, 30: 50, 100: 35}
{1: 100, 2: 'python', 'hi': 30, 30: 50, 100: 35, 5: 1000}

In [57]:
a = {1: 10, 2:"python", "hi":30, 30:50, 100:35}


print(a[30])
print(a.get(30))

50
50

In [58]:
#update

a = {1: 10, 2:"python", "hi":30, 30:50, 100:35}

b = {99:"go", 1999:"python"}


a.update(b)

print(a)

{1: 10, 2: 'python', 'hi': 30, 30: 50, 100: 35, 99: 'go', 1999: 'python'}

In [59]:
#pop

a = {1: 10, 2:"python", "hi":30, 30:50, 100:35}

a.pop(30)

print(a)

{1: 10, 2: 'python', 'hi': 30, 100: 35}

In [60]:
#duplicate key is not possible
#duplicate vallue is possible

a = {1: 10, 2:"python", "hi":30, 30:50, 100:35, 1:1000, 20:50}

print(a)

{1: 1000, 2: 'python', 'hi': 30, 30: 50, 100: 35, 20: 50}

In [61]:
#popitem

a = {1: 10, 2:"python", "hi":30, 30:50, 100:35, 1:1000, 20:50}

a.popitem()

print(a)

{1: 1000, 2: 'python', 'hi': 30, 30: 50, 100: 35}

In [62]:
a = {1: 10, 2:"python", "hi":30, 30:50, 100:35, 1:1000, 20:50}


print(a.keys())

dict_keys([1, 2, 'hi', 30, 100, 20])

In [64]:
a = {1: 10, 2:"python", "hi":30, 30:50, 100:35, 1:1000, 20:50}


print(a.values())

dict_values([1000, 'python', 30, 50, 35, 50])

In [63]:
a = {1: 10, 2:"python", "hi":30, 30:50, 100:35, 1:1000, 20:50}


print(a.items())

dict_items([(1, 1000), (2, 'python'), ('hi', 30), (30, 50), (100, 35), (20, 50)])

In [ ]:
https://www.w3schools.com/python/python_ref_set.asp

## Data structure Conversion

In [ ]:
#list to tuple
#list to set
#tuple to list
#tuple to set
#set to list
#set to tuple



#list to dictionary


#list()
#tuple()
#set()
#dict()
#zip()

In [1]:
a = [4,5,6,7]

b = tuple(a)

print(a)
print(type(a))

print(b)
print(type(b))

[4, 5, 6, 7]
<class 'list'>
(4, 5, 6, 7)
<class 'tuple'>

In [3]:
a = [4,5,6,7,7,7,10]

b = set(a)

print(a)
print(type(a))

print(b)
print(type(b))

[4, 5, 6, 7, 7, 7, 10]
<class 'list'>
{4, 5, 6, 7, 10}
<class 'set'>

In [4]:
a = [4,5,6,7,7,7,10]

b = list(set(a))

print(b)

[4, 5, 6, 7, 10]

In [7]:
Li1 = [3,4,5,6]
Li2 = [10,20,30,40]

b = dict(zip(Li1, Li2))

print(b)

b = list(zip(Li1, Li2))

print(b)

{3: 10, 4: 20, 5: 30, 6: 40}
[(3, 10), (4, 20), (5, 30), (6, 40)]

## Nested Datastructures

In [10]:
a = ["python", "value", "groovy", "science","zoology"]

print(a[-1][:3])

zoo

In [16]:
a = [1,2,3,4,[101,102,103,[200]], 301,302]

#200
print(a[4][3][0])


#101
print(a[4][0])

#301
print(a[5])

200
101
301

In [ ]:
Li1 = [2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]